# SQL, Database operations, and analysis
In this notebook we will explore SQL and database operations like 'join'. Then we will use the datasets as input to a simple analysis.

## In this Noteboook
1. create a context
2. read in data
3. register table with SQL
4. perform SQL queries
5. perform database operations
6. do some analysis

In [ ]:
### DO NOT RUN
### DO NOT RUN
### DO NOT RUN

# Initialize the spark environment (takes ~ 1min)
import pyspark
conf = pyspark.SparkConf().setAppName('odl').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
sqlc = pyspark.sql.SQLContext(sc)

### DO NOT RUN
### DO NOT RUN
### DO NOT RUN

In [ ]:
import pyspark.sql.functions as sf

## Read in Data

In [ ]:
dataPaths = ["bbref/bryce.csv","bbref/javy.csv","bbref/andre.csv"]

In [ ]:
dfbryce = sqlc.read.format("csv").option("header","true").option("inferSchema", "true").load(dataPaths[0])
dfjavyb = sqlc.read.format("csv").option("header","true").option("inferSchema", "true").load(dataPaths[1])
dfandre = sqlc.read.format("csv").option("header","true").option("inferSchema", "true").load(dataPaths[2])

In [ ]:
dfbryce.printSchema()

## Register Tables

In [ ]:
dfbryce.registerTempTable("bryce") # go lowercase
dfjavyb.registerTempTable("javyb")
dfandre.registerTempTable("andre")

## SQL queries to produce dataframes

In [ ]:
Bhits = sqlc.sql(""" SELECT Year,H,AB FROM bryce """)
Bhits.show()

In [ ]:
sqlc.sql(""" SELECT Year,H FROM bryce WHERE YEAR = 2015 """).show()

In [ ]:
Jhits = sqlc.sql(""" SELECT Year,H,AB FROM javyb """)
Jhits.show()

In [ ]:
Ahits = sqlc.sql(""" SELECT Year,H,AB FROM ANDRE """)
Ahits.show()

## Database Operations: joins

In [ ]:
df = Bhits.join(Jhits,Bhits.Year==Jhits.Year).join(Ahits,Bhits.Year==Ahits.Year,'outer')
print(df)

In [ ]:
df.show()

In [ ]:
df = Bhits.join(Jhits,Bhits.Year==Jhits.Year)
print(df)
df.show()

## Analysis: aggregate, calculate

In [ ]:
CH = Bhits.groupBy().agg(sf.sum('H').alias('CH'))
CAB = Bhits.groupBy().agg(sf.sum('AB').alias('CAB'))

In [ ]:
CH.show()
CAB.show()

In [ ]:
rawAVG = CH.take(1)[0][0]/CAB.take(1)[0][0]

In [ ]:
round(rawAVG,3)

# Bryce Harper career batting average: 0.279