# Setting up your spark environment
We are going to use the [pyspark api](https://spark.apache.org/docs/2.3.1/quick-start.html), you can also use Scala or R or something else.

## In this Noteboook
1. create a context
2. learn dataframe fundamentals
3. read data into dataframe from file

In [ ]:
### DO NOT RUN
### DO NOT RUN
### DO NOT RUN

# Initialize the spark environment (takes ~ 1min)
import pyspark
conf = pyspark.SparkConf().setAppName('odl').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
sqlc = pyspark.sql.SQLContext(sc)

### DO NOT RUN
### DO NOT RUN
### DO NOT RUN

In [14]:
sc

In [16]:
sqlc

# DataFrames
Dataframes are a set of instructions to create a dataset

* NB: In R and python dataframes actually contain the data and take up lots of space in memory
* NB: In spark dataframes are a set of instructions and take up no space in memory

In [17]:
firstDataFrame = sc.range(1000000)
print(firstDataFrame)

PythonRDD[1] at RDD at PythonRDD.scala:48

In [23]:
print(firstDataFrame.take(5))

[0, 1, 2, 3, 4]

You see, we had to use the "take" method to actually run the instructions and get data.

# Reading in data from a file

In [38]:
dataPath = "data.csv"
df = sqlc.read.format("csv")\
  .option("header","true")\
  .option("inferSchema", "true")\
  .load(dataPath)

In [39]:
print(df)

DataFrame[alpha: int, beta: int, gamma: int]

In [61]:
print(df.take(2))

[Row(alpha=1, beta=2, gamma=3), Row(alpha=1, beta=4, gamma=9)]

In [62]:
df.printSchema()

root
 |-- alpha: integer (nullable = true)
 |-- beta: integer (nullable = true)
 |-- gamma: integer (nullable = true)

In [65]:
print(df.take(5)[0][0])
print(df.take(5)[1][1])

1
4